/**
 *
 */

html, body, .content, .main-wrap {
	height:100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

h1 {
    font-family: 'Questrial', sans-serif;
}

h2 {
    font-family: 'Questrial', sans-serif;
}

.home #top {
		display: none;
}

/* Splash Screen */

#splashscreen {
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 100; 
	}

.orangeback {
    background: #FF8561;
}

.logotxt {
    position: absolute;
}
.bigpaddingbottom {
    padding-bottom: 40px;
}
.bigpaddingtop {
    padding-top: 40px;
}

#splashscreen img {
    margin-top: 50vh;
    transform: translateY(-50%);
}



/*  Color Scheme  */

.color-01 {
    background-color: #feb477;
}
.color-02 {
    background-color: #ffa06c;
}
.color-03 {
    background-color: #ff996c;
}
.color-04 {
    background-color: #ff886c;
}
.color-05 {
    background-color: #ff7a6c;
}
.color-06 {
    background-color: #e85e50;
}
.text-color-01 {
	color: #feb477;
}
.text-color-02 {
	color: #ffa06c;
}
.text-color-03 {
	color: #ff996c;
}
.text-color-04 {
	color: #ff886c;
}
.text-color-05 {
	color: #ff7a6c;
}
.text-color-06 {
	color: #e85e50;
}

/* links */

a {
	color: #ff886c;
}

a:hover {
	color: #ff7a6c;
}


#top {
    overflow: hidden;
    padding: 20px 35px;
    background: #fff;
    border-bottom: 1px solid rgba(22, 36, 54, .1);
}
#top a {
    float: left;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #8895a7;
}
#top #logo:hover, #top ul a:hover, #top ul .active a, .posts .items li:first-child h2 a:hover, p a:hover {
    color: #4171b1;
}
#top ul {
    list-style: none;
    float: right;
}
#top ul li {
    float: left;
    padding-left: 40px;
}
#top ul a {
    display: inline-block;
    color: #555f6d;
}
#top ul img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    width: 16px;
    height: 16px;
    opacity: .4;
}
#top ul a:hover img {
    opacity: .7;
}
#top ul a.active img {
    opacity: 1;
}

/**
 *   Index page listing, category listing, search page results
 */

.items {
    list-style: none;
}
.items> li {
    padding: 70px 0 60px;
}
.posts .items> li:first-child {
    background: #fff !important;
    padding: 110px 0;
}
.items h1 {
    padding: 0 0 8px;
}
.items h1 a {
    text-decoration: none;
}
.items h2 {
    font-size: 32px;
    line-height: 41px;
}
.items h2 a {
    display: block;
    padding-bottom: 12px;
    color: #fff;
    text-decoration: none;
}
.items h2 a:hover {
    color: #fff;
}
.items .content {
    padding: 10px 0 0;
}
.items .content p {
    padding-bottom: 15px;
}

/**
 *   Pagination
 */

.pagination {
    overflow: hidden;
    padding: 30px 0;
    margin-bottom: 50px;
}
.pagination:empty {
    display: none;
}
.pagination a {
    float: left;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.pagination .next {
    float: right;
}

/**
 *   Give some extra space to single-page wrappers
 */

.content {
    padding-bottom: 50px;
}
.content ul, .content ol, .items li ul {
    padding: 20px 30px;
}
.content ul ul, .content ol ol, .items li ul ul {
    padding: 0 20px;
}
.content blockquote {
    padding-left: 15px;
    margin: 15px 0;
}

/**
 *   Footnotes and straplines
 */

.footnote, .commentlist time, .items footer {
    display: block;
    padding: 5px 0 15px;
    font-size: 14px;
    font-style: italic;
    white-space: nowrap;
}
.footnote {
    padding: 20px 0 40px;
}

/**
 *   Comment form
 */

ul.commentlist {
    margin-bottom: 40px;
    list-style: none;
}
ul.commentlist .wrap {
    position: relative;
}
ul.commentlist li {
    padding: 40px 0;
}
ul.commentlist time {
    font-size: 13px;
}
ul.commentlist h2 {
    font-size: 25px;
    line-height: 33px;
}
ul.commentlist .counter {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    font-weight: 300;
}
#comment {
    overflow: hidden;
}
#comment label[for] {
    display: none;
}
#comment p {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 10px;
    text-indent: 0;
}
#comment p+ p {
    margin-right: 0;
}
#comment p.textarea {
    float: none;
    width: 100%;
}
#comment input, #comment textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 4px;
}
#comment input:focus, #comment textarea:focus {
    outline: none;
}
#comment textarea {
    min-height: 150px;
    max-height: 800px;
    resize: vertical;
}
#comment button {
    display: inline-block;
    padding: 9px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}


/**
 *   Footer
 */

#bottom {
    padding: 30px 0 40px;
}
#bottom ul {
    float: right;
    list-style: none;
}
#bottom li {
    float: left;
    padding-left: 35px;
    font-size: 14px;
}
#bottom a {
    text-decoration: none;
}
